@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f4f8fb;
  height: 100vh;
}

.away-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.away-button:hover {
  background-color: #e0e0e0;
}
