@import '@ably/ui/core/styles.css';
@layer components {
  .docs-menu-item {
    @apply relative whitespace-nowrap break-all list-none pb-0 leading-loose;
    @apply text-white;
    font-family: font-manrope,NEXT Book,Arial,Helvetica,sans-serif;
  }
  .docs-menu-item-button,
  .docs-menu-item-button-selected {
    @apply transition-colors text-white focus:outline-none ml-1 block py-8 px-12;
    @apply no-underline text-menu2 hover:bg-gui-active rounded;
  }
  .docs-menu-item-button-selected {
    @apply bg-dark-grey;
  }
  .docs-menu-item-label {
    @apply mr-auto;
  }
  .docs-horizontal-menu,
  .docs-top-horizontal-menu {
    @apply flex overflow-y-hidden overflow-x-auto my-0 py-12 pr-20;
    @apply ml-auto mr-auto;
    @apply max-w-screen-xl
  }
  .docs-top-horizontal-menu {
    @apply relative;
  }
  .docs-horizontal-menu {
    @apply border rounded-t border-b border-charcoal-grey;
    @apply relative justify-end flex-wrap;
  }

  @media (min-width: 31.25rem) {
    .docs-code-explorer-language-navigation {
      @apply w-auto flex;
      flex: unset;
    }
  }
}
