@layer components {
  .docs-horizontal-menu,
  .docs-top-horizontal-menu {
    @apply flex overflow-y-hidden overflow-x-auto my-0 py-12 pr-20;
    @apply ml-auto mr-auto;
    @apply max-w-screen-xl;
  }
  .docs-top-horizontal-menu {
    @apply relative;
  }
  .docs-horizontal-menu {
    @apply border rounded-t border-b border-charcoal-grey;
    @apply relative justify-end flex-wrap;
  }

  @media (min-width: 31.25rem) {
    .docs-code-explorer-language-navigation {
      @apply w-auto flex;
      flex: unset;
    }
  }
}
