@import '@ably/ui/core/styles.css';
@layer components {
  .docs-menu-item {
    @apply relative whitespace-nowrap break-all list-none;
  }
  .docs-menu-item-button  {
    @apply transition-colors text-white focus:outline-none ml-1 block py-8 px-12;
    @apply no-underline text-menu2 bg-dark-grey hover:bg-gui-active rounded;
  }
  .docs-menu-item-label {
    @apply tracking-widen-0.15 uppercase pr-8 sm:pr-24 text-overline1;
  }
  .docs-horizontal-menu {
    @apply flex overflow-y-hidden overflow-x-auto bg-cool-black p-12 m-0;
    @apply border rounded-t border-b border-charcoal-grey;
    @apply relative justify-end;
  }
  .docs-code-explorer-language-navigation {
    width: 1px;
    height: 34px;
    @apply overflow-hidden;
  }
  
  @media (min-width: 31.25rem) {
    .docs-code-explorer-language-navigation {
      @apply w-auto flex;
      flex: unset;
    }
  }
}