[--- Javascript ---]
$(function() {
  var channelName = '{{RANDOM_CHANNEL_NAME}}';

  function setupChat(userName) {
    var $root = $('#' + userName);
    var ably = new Ably.Realtime('{{DEMO_API_KEY}}'),
        channel = ably.channels.get(channelName),
        textField = $root.find('input[type=text]'),
        sendMessage = function() {
          if (textField.val().length > 0) {
            channel.publish('chat', { msg: textField.val(), from: userName });
            textField.val('');
            textField.blur();
          }
        };

    channel.subscribe('chat', function(message) {
      var li = $('<li></li>').
                  text(message.data.msg).
                  append('<div class="from">' + message.data.from + '</div>').
                  append('<div class="time">' + moment(message.timestamp).format('h:mm:ss a') + '</div>');
      $root.find('ul.messages').prepend(li);
    });

    ably.connection.on('connected', function() {
      $root.find('button').text('Send').attr('disabled', false); // we are ready to chat
    });

    textField.on('keypress', function(e) {
      if(e.which === 13) sendMessage();
    });
    $root.find('button').on('click', sendMessage);
  }

  setupChat('Jack');
  setupChat('Jill');
});
[--- /Javascript ---]

[--- HTML ---]
<!DOCTYPE html>
<html>
  <head>
    <script src="//jsbin-files.ably.io/js/jquery-1.8.3.min.js"></script>
    <script src="//jsbin-files.ably.io/js/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.ably.io/lib/ably.min-1.js"></script>
    <meta charset=utf-8 />
  </head>
  <body>
    <a class="logo" href="https://ably.com/examples" target="_blank" title="Ably.com examples"><img src="//jsbin-files.ably.io/images/logo.png"></a>

    <h1>Simple Chat Example</h1>

    <div id="chat-windows">
      <div id="Jack">
        <h2>Simple chat (Jack)</h2>
        <div class="entry">
          <input class="add" type="text" placeholder="Enter a message here" id="new_message_left"><button class="add" disabled="true">connecting...</button>
        </div>
        <ul class="messages"></ul>
      </div>
      <div id="Jill">
        <h2>Simple chat (Jill)</h2>
        <div class="entry">
          <input class="add" type="text" placeholder="Enter a message here"  id="new_message_right"><button class="add" disabled="true">connecting...</button>
        </div>
        <ul class="messages"></ul>
      </div>
    </div>

    <p class="instructions">
      Both chat windows subscribe to messages sent through <a href="https://ably.com">Ably</a>.  Messages will only appear in each of the chat windows once the message has been received by Ably.
      <br><br>
      Enter a new message to see how quickly a message is sent from from your browser to the Ably servers and back to your browser.

      <br><br>
      or publish a message using your terminal via the <a href="https://ably.com/documentation/rest-api" target="_blank">Ably REST API</a>:
    </p>

    <pre id="curl"><code>curl -X POST https://rest.ably.io/channels/{{RANDOM_CHANNEL_NAME}}/messages \
  -u "{{DEMO_API_KEY}}" \
  -H "Content-Type: application/json" \
  --data '{ "name": "chat", "data": { "msg": "hello via curl", "from": "John" } }'</code></pre>

    <p class="copyright">
      <a href="https://ably.com">Copyright Ably</a>
    </p>

  </body>
</html>
  [--- /HTML ---]

[--- CSS ---]
html,
body {
  margin: 1em 0.5em;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea url(//jsbin-files.ably.io/images/bg/diagonal_waves.png);
  color: #4d4d4d;
}

a {
  color: #179DD6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a.logo {
  position: relative;
  float: left;
}

h1 {
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #666;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 0 35px 0;
}

h2 {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  text-align: center;
  color: #F48B1C;
  padding: 12px 0 15px 0;
  margin-top: 0;
}

#Jack {
  width: 48%;
  float: left;
}
#Jill {
  margin-left: 52%;
}

#chat-windows>div {
  border: 1px solid #AAA;
  padding-bottom: 15px;
  background: #dadada url(//jsbin-files.ably.io/images/bg/carbon_fibre.png);
  border-radius: 10px;
  text-align: center;
}

input[type=text] {
  border: 1px solid #CCC;
  font-size: 14px;
  height: 23px;
  width: 70%;
  color: #666;
  border-radius: 3px;
  padding: 0 5px;
}

.entry {
  margin: 0 auto;
  padding: 0 10px 0 20px;
  position: relative;
  text-align: left;
}

button {
  border: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  background: #CCC;
  height: 25px;
  top: -1px;
  position: relative;
  margin-left: 5px;
}

button.enabled:hover {
  background: #DDD;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

ul {
  margin: 0 0 -15px 0;
  padding: 15px 15px;
}

li {
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 5px 10px;
  list-style: none;
  background: #EEE url(//jsbin-files.ably.io/images/bg/cream_dust.png);
  font-weight: bold;
  text-align: left;
}

li .from {
  color: #999;
  padding-right: 10px;
  font-weight: normal;
  width: 3em;
  float: left;
}

li:first-child {
  border-radius: 3px 3px 0 0;
}

li:last-child {
  border-radius: 0 0 3px 3px;
  border-bottom: none;
}

li:last-child:first-child {
  border-radius: 3px 3px 3px 3px;
  border-bottom: none;
}

li .time {
  color: #999;
  font-weight: normal;
  float: right;
}

p.instructions {
  clear: both;
  padding: 2em 1em 0em 1em;
  text-align: center;
}

p.copyright {
  text-align: center;
}

pre {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  margin: 0;
  font-size: 11px;
}[--- /CSS ---]
