@import '@ably/ui/core/styles.css';
@layer components {
    .docs-link {
        font-size: var(--fs-p2);
        color: var(--color-gui-default);
    }
    .docs-link code {
        font-size: var(--fs-code);
        color: var(--color-gui-default);
    }
    .docs-link:viewed {
        color: var(--color-gui-viewed);
    }
    .docs-link:active {
        color: var(--color-gui-active);
    }
    .docs-link:focus {
        color: var(--color-gui-focus);
    }
    .docs-link:hover,
    .docs-link code:hover {
        color: var(--color-gui-hover);
        text-decoration-color: var(--color-gui-hover);
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
        text-decoration-thickness: 0.0625rem;
        text-underline-offset: 4px;
    }

}
