version: 2.1

orbs:
  node: circleci/node@5.0.2

parameters:
  content-update:
    type: boolean
    default: false

executors:
  default:
    description: Node 18.12.0
    docker:
      - image: cimg/node:18.12.0

commands:
  restore-yarn-cache:
    steps:
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - yarn-packages-v2-{{ .Branch }}-
            - yarn-packages-v2-

  save-yarn-cache:
    steps:
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

  yarn-install:
    steps:
      - run:
          name: Dependencies
          command: yarn install --frozen-lockfile

  build-nginx:
    steps:
      - run:
          name: Build nginx
          environment:
            STACK: heroku-22
            ZLIB_VERSION: 1.3.1
          command: |
            if [ ! -x /usr/local/bin/nginx ]; then
              mkdir buildpack
              mkdir build-nginx
              cd build-nginx
              sudo apt install --no-install-recommends -y libssl-dev
              wget https://raw.githubusercontent.com/heroku/heroku-buildpack-nginx/main/scripts/build_nginx
              sed -i.pak 's/https:\/\/ftp.exim.org/ftp:\/\/ftp.exim.org/' build_nginx
              chmod +x ./build_nginx
              ./build_nginx .
              cd ../buildpack
              tar -xzvf /tmp/nginx-${STACK}.tgz
            fi
      - persist_to_workspace:
          root: .
          paths:
            - buildpack/nginx

jobs:
  install-dependencies:
    executor:
      name: default
    resource_class: medium+
    steps:
      - checkout
      - restore-yarn-cache
      - yarn-install
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
      - save-yarn-cache

  install-nginx:
    executor:
      name: default
    steps:
      - build-nginx

  test:
    executor:
      name: default
    resource_class: medium
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Run linting
          command: yarn lint
      - run:
          name: Install JUnit coverage reporter
          command: yarn add jest-junit
      - run:
          name: Run tests
          command: yarn test -- --ci --collectCoverage=true --coverageDirectory=coverage --coverageReporters=html --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - store_test_results:
          path: ./reports/junit
      - store_artifacts:
          path: coverage
  build:
    executor:
      name: default
    resource_class: medium+
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Install Ruby (erb) & nginx
          command: |
            sudo apt-get update -qq
            sudo apt-get install --no-install-recommends -y ruby
            sudo cp buildpack/nginx /usr/local/bin/nginx
      - run:
          name: Build
          command: yarn build
      - run:
          name: Require redirects file to be generated
          command: test -f config/nginx-redirects.conf
      - run:
          name: Test nginx configuration
          command: |
            PORT=3000 erb config/nginx.conf.erb > config/nginx.conf
            mkdir -p logs/nginx
            nginx -p . -c config/nginx.conf -t
      - run:
          name: Start nginx
          command: |
            mkdir -p logs/nginx
            SKIP_HTTPS=false ./bin/start-nginx
          background: true
      - run:
          name: Wait for nginx
          command: |
            until $(curl --retry 10 --output /dev/null --silent --head --fail http://localhost:3001/); do
                printf '.'
                sleep 1
            done
      - run:
          name: Test nginx /docs rewriting
          command: |
            ./bin/assert-success.sh /docs
            ./bin/assert-redirect.sh /docs/ https://localhost/docs
            ./bin/assert-success.sh /docs/channels
      - run:
          name: Smoke test quickstart redirects
          command: |
            ./bin/assert-success.sh /docs/getting-started/quickstart
            ./bin/assert-redirect.sh /docs/getting-started/quickstart/ \
                                     https://localhost/docs/getting-started/quickstart
      - run:
          name: Test website redirects
          command: |
            ./bin/assert-redirect.sh /tutorials https://ably.com/tutorials

workflows:
  test_branch:
    unless: << pipeline.parameters.content-update >>
    jobs:
      - install-dependencies
      - install-nginx
      - test:
          requires:
            - install-dependencies
      - build:
          requires:
            - install-dependencies
            - install-nginx
