#documentation {
  h1 {
    color: #6E7D9A;
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
  }

  p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
  }

  ul, ol {
    margin: 20px;
  }

  li {
    font-size: 15px;
    line-height: 20px;
  }

  ul li {
   list-style-type: square;
  }

  /* First paragraph after a H1 is normally emphasised */
  h1+p {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  /* H2s indicate sections such as Methods / Attributes of an object */
  h2 {
    border-top: 1px solid #AAA;
    padding-top: 20px;
    font-size: 30px;
    margin-top: 20px;
    /* definition of a method/object */
    &+h3 {
      border-top: none;
      background-color: #A6412C;
      color: white;
      font-size: 20px;
      font-weight: normal;
      display: inline;
      margin-top: 20px;
      padding-top: 0;
      border-radius: 5px;
      padding: 5px;
    }
  }

  /* H3s indicate methods or attribute */
  h3 {
    border-top: 1px solid #AAA;
    padding-top: 20px;
    font-size: 25px;
  }

  blockquote {
    border: 1px solid #999;
    background-color: #DDD;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    p {
      margin: 0;
    }
  }

  dl {
    margin-bottom: 1em;
    dt {
      clear: left;
      float: left;
      width: 100px;
      font-weight: bold;
      text-align: right;
      padding: 0 20px 0 0;
      color: #6E7D9A;
    }
    dd {
      margin-left: 120px;
    }
  }

  ul.lang-selector {
    margin: 10px 0 0 20px;
    position: relative;
    z-index: 5;
    li {
      list-style: none;
      margin: 0;
      float: left;
      border: 1px solid #999;
      border-bottom: 0;
      padding: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      cursor: pointer;
      &.selected {
        background-color: #DDD;
      }
    }
  }
  pre {
    clear: left;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #DDD;
    margin: 5px 0 0 10px;
    padding: 5px;
    code {
      font-family: monospace, serif;
      font-size: 11px;
      span {
        font-family: monospace, serif;
      }
    }
    &[lang]::before {
      font-weight: bold;
      display: block;
      background-color: white;
      padding: 5px;
      border-radius: 3px;
    }
    &[lang=java]::before {
      content: "Java";
    }
    &[lang=javascript]::before {
      content: "Javascript";
    }
    &[lang=python]::before {
      content: "Python";
    }
    &.with-lang-nav::before {
      display: none;
    }
    &.with-lang-nav {
      display: none;
      position: relative;
      top: -1px;
      z-index: 1;
      &.selected {
        display: block;
      }
    }
  }
}