#documentation {
  * {
    font-family: Lucida Sans Unicode, sans-serif;
    font-size: 12px;
  }

  h1 {
    color: #6E7D9A;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: -1px;
  }

  p {
    margin: 20px 0;
    font-size: 12px;
    line-height: 20px;
  }

  ul, ol {
    margin: 20px;
  }

  li {
    font-size: 12px;
    line-height: 20px;
  }

  ul li {
    list-style-type: square;
  }

  /* First paragraph after a H1 is emphasised */
  h1+p {
    font-size: 1.2em;
    line-height: 1.2em;
  }

  /* H2s indicate sections such as Methods / Attributes of an object */
  h2 {
    border-top: 1px solid #AAA;
    padding-top: 20px;
    font-size: 22px;
    margin-top: 20px;
  }

  /* H3s indicate methods or attribute */
  h3 {
    border-top: none;
    background-color: #A6412C;
    color: white;
    font-size: 12px;
    font-weight: normal;
    display: inline;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: monospace, serif;
    position: relative;
    top: 10px;
    code {
      background-color: transparent;
      color: #FBB;
    }
  }

  p + h3 {
    top: 0;
  }
  p + h3 + pre {
    margin-top: 20px;
  }
  h3 + h4 {
    margin-top: 25px;
  }

  /* H4s indicate sections within a method or attribute */
  h4 {
    font-size: 14px;
  }

  h4 ~ p {
    margin-left: 10px;
  }

  h5 {
    clear: left;
  }

  /* block quotes are used for function definitions as code, but are changed at runtime with code blocks as they can be colour coded */
  blockquote, code.prettyprint {
    border: 1px solid #999;
    background-color: #DDD;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: block;
    p {
      margin: 0;
    }
  }

  dl {
    margin-bottom: 1em;
    dt {
      clear: left;
      float: left;
      width: 140px;
      font-weight: bold;
      text-align: right;
      padding: 0 10px 0 0;
      color: darken(#6E7D9A, 10%);
      &:before {
        content: "";
      }
      &:after {
        content: ":";
      }
    }
    dd {
      margin: 5px 0 13px 150px;
      em {
        background-color: #EEE;
        padding: 2px 5px;
        border-radius: 5px;
        line-height: 23px;
        position: relative;
        top: -2px;
        &:before {
          content: "(default: ";
        }
        &:after {
          content: ")\A";
          white-space: pre;
        }
        code {
          background-color: transparent;
        }
      }
      pre {
        border: none;
        background-color: transparent;
        padding: 1px;
        font-size: 12px;
        code {
          background-color: transparent;
          color: #009;
          font-size: 1em;
        }
      }
    }
  }

  ul.lang-selector {
    margin: 10px 0 0 20px;
    position: relative;
    z-index: 5;
    li {
      list-style: none;
      margin: 0;
      float: left;
      border: 1px solid #999;
      border-bottom: 0;
      padding: 5px 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      cursor: pointer;
      &.selected {
        background-color: #DDD;
      }
    }

    &.inline {
      li {
        background-color: #FFF;
        border: none;
        color: #999;
        padding: 0px 10px;
        font-size: 11px;
        &:hover {
          color: #000;
        }
        &.selected {
          border: 1px solid #CCC;
          border-bottom: 0;
          color: #000;
          font-weight: bold;
        }
      }
    }
  }

  pre {
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #DDD;
    padding: 5px 10px;
    font-family: monospace, serif;
    font-size: 11px;
  }

  /* code definition for a method / attribute */
  h3+blockquote,h3+code.prettyprint {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  h3+pre {
    margin-top: 30px;
  }

  /* code examples with language specified */
  pre[lang] {
    margin: 5px 0 0 10px;
    code {
      font-family: monospace, serif;
      font-size: 11px;
      background-color: transparent;
      span {
        font-family: monospace, serif;
      }
    }
    &[lang]::before {
      font-weight: bold;
      display: block;
      background-color: white;
      padding: 5px;
      border-radius: 3px;
    }
    &[lang=java]::before {
      content: "Java";
    }
    &[lang=javascript]::before {
      content: "Javascript";
    }
    &[lang=python]::before {
      content: "Python";
    }
    &.with-lang-nav::before {
      display: none;
    }
  }

  code {
    font-family: monospace, serif;
    background-color: #FDE9D7;
  }

  .with-lang-nav {
    display: none;
    position: relative;
    top: -1px;
    z-index: 1;
    clear: left;
    &.selected {
      display: block;
    }
  }

  p.with-lang-nav {
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 5px;
  }

  ol.linenums {
    margin: 10px 5px 5px 30px;
    li {
      font-size: 10px;
    }
  }

  .tip {
    display: block;
    float: right;
    margin: 10px 0 10px 10px;
    border: 1px solid #AAA;
    background-color: #FBFAB4;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    font-family: "American Typewriter", "Trebuchet MS", sans;
    &:before {
      content: 'TIP';
      font-weight: bold;
      color: #A6412C;
      display: block;
      margin-bottom: 5px;
    }
  }

  .prettyprint {
    /* highlight types that are also links */
    a .typ {
      color: red;
    }
    a:hover .typ {
      text-decoration: underline;
    }
  }

  /* in this section navigation at the top of documentation where meta data exists */
  .toc {
    border: 1px solid #FA0;
    background-color: lighten(#FA0,40%);
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 0;
    font-weight: bold;
    overflow: hidden;
    &:before {
      content: "In this section";
      display: block;
      margin-bottom: 10px;
      border-bottom: 1px solid #FA0;
      padding: 5px 15px;
    }
    ul {
      margin: 0 30px 5px 0;
      li {
        font-size: 10px;
        list-style: none;
        a {
          font-size: 10px;
        }
      }
    }
    > ul {
      float: left;
      margin-left: 15px;
      > li > ul > li > ul li {
        margin-left: 15px;
      }
    }
  }
}