body {
  margin: 0;
  padding: 0;
  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

pre {
  font-family: monospace, serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

ol, ul {
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#documentation {
  position: absolute;

  top: 50px;
  left: 280px;

  width: 650px;
}

#sidebar {
  position: absolute;

  top: 25px;
  left: 20px;
  width: 200px;

  padding: 0 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;

  .ably-logo {
    margin-bottom: 20px;
  }

  $selected_colour: darken(#f30, 15%);

  h2 {
    text-transform: uppercase;
    font-size: 13px;
    color: #333;
    letter-spacing: 1px;
    line-height: 16px;
    margin: 5px 0;

    a {
      color: #000;
      &:hover {
        color: #f90;
      }
    }

    &.selected a {
      color: $selected_colour;
    }
  }

  ul {
    list-style-type: none;
    margin: 0 0 20px 0;
  }

  li {
    font-size: 13px;
    line-height: 16px;
  }

  li.selected {
    a {
      font-weight: bold;
      color: $selected_colour;
    }
  }
}

hr.back {
  clear: both;
  margin: 25px 0 10px 0;
  border-top: 1px solid lighten(#f30, 30%);
  border-bottom: none;
  + a {
    margin-bottom: 15px;
    display: block;
  }
}