/* Styles migrated to a CSS component to wean the repo off of styled-components
All styles to be migrated to Tailwind classes when convenient */

.list-dt {
  font-weight: 500;
  margin: 0 0 10px;
  @media (min-width: 40em) {
    min-width: 120px;
  }
}

.list-dl {
  border-top: 1px solid #e1e1e1;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-auto-flow: column;
  margin-bottom: 20px;
  font-size: 16px;
  overflow-x: scroll;

  /**
    * This :only-child directive is present to ensure that multiple lines are not shown in the situation
    * where there is a <dl> inside a <div> that is selected based on language type in between two other divs, i.e.
    * <dl>
    *   <dt></dt>
    *   <dd></dd>
    * </dl>
    * <div>
    *   <dl>
    *     <dt></dt>
    *     <dd></dd>
    *   </dl>
    * </div>
    * <dl>
    *   <dt></dt>
    *   <dd></dd>
    * </dl>
    */
  :only-child {
    margin-bottom: -1px;
    margin-top: -21px;
  }

  div {
    display: contents;
  }
  dt,
  dd {
    border-bottom: 1px solid #e1e1e1;
    height: 100%;
    padding: 15px 20px 15px 0;
    line-height: 1.5;
  }
  dt {
    grid-column: 1;
  }
  dd > em:not(.italics):first-of-type {
    background: #e1e1e1;
    border-radius: 5px;
    padding: 2px 5px;
    display: block;
    width: fit-content;
    block-size: fit-content;
    margin-bottom: 7px;
    ::before {
      content: '(default: ';
    }
    ::after {
      content: ')';
    }
  }
  dd > em.italics:last-of-type {
    float: right;
    display: block;
    text-align: right;
    font-size: 12px;
    margin-top: 12px;
  }
}

div.definition-list-row-styles {
  display: block;
  min-height: 35px;
  border-bottom: 1px solid #e1e1e1;
  overflow: auto;
  padding: 15px 0;
  @media (min-width: 40em) {
    display: flex;
    padding: 0;
    width: 100%;
  }
}

p.inline-content-container {
  grid-row: 2;
  grid-column: 1;
  margin-left: var(--spacing-16);
  padding-left: var(--spacing-16);
  padding-right: var(--spacing-16);
  padding-bottom: var(--spacing-16);
  margin-bottom: var(--spacing-8);
}

div.inline-grid-paragraph {
  display: inline-grid;
  border-radius: 0.5em;
  background-color: '#FAFAFB';
  border-width: 1px;
  border-color: #d9d9da;
  grid-template-rows: auto auto;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 23px;
  padding: 0;
  width: 100%;
}
