/* Styles migrated to a CSS component to wean the repo off of styled-components
All styles to be migrated to Tailwind classes when convenient */

span.left-side-element {
  width: 8px;
  border-radius: 0.5em 0 0 0.5em;
  left: 0;
  cursor: default;
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 1;
  height: 100%;
}
.note-element {
  background-color: #4af7ff;
}
.pitfall-element {
  background-color: #ff5416;
}
.further-reading-element {
  background-color: #08fe13;
}

strong.tip-title-element {
  margin-left: var(--spacing-16);
  padding: var(--spacing-16);
  margin-top: var(--spacing-8);
  grid-column-start: 1;
  grid-row-start: 1;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 18px;
}

div.inline-content-container {
  grid-row: 2;
  grid-column: 1;
  margin-left: var(--spacing-16);
  padding-left: var(--spacing-16);
  padding-right: var(--spacing-16);
  margin-bottom: var(--spacing-8);
  display: inline;
}

aside.inline-grid-paragraph {
  display: inline-grid;
  border-radius: 0.5em;
  background-color: #fafafb;
  border-width: 1px;
  border-color: #d9d9da;
  grid-template-rows: auto auto;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 23px;
  padding: 0;
  width: 100%;
}
