@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@ably/ui/reset/styles.css';
@import '@ably/ui/core/styles.css';
@import '@ably/ui/core/Meganav/component.css';
@import '@ably/ui/core/Footer/component.css';
@import '@ably/ui/core/CookieMessage/component.css';
@import '@ably/ui/core/Slider/component.css';
@import '@ably/ui/core/Code/component.css';
@import '@ably/ui/core/Flash/component.css';
@import '@ably/ui/core/utils/syntax-highlighter.css';

:root {
  --top-nav-height: 64px;
}

@layer base {
  html {
    line-height: unset;
  }

  * {
    scroll-margin-top: 8.875rem;
  }

  @media only screen and (max-width: 1040px) {
    * {
      scroll-margin-top: 12rem;
    }
  }

  body {
    font-family:
      Manrope,
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      Helvetica Neue,
      Arial,
      Noto Sans,
      sans-serif,
      Apple Color Emoji,
      Segoe UI,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;
    margin: 0;
    font-size: 16px;
    color: #161616;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
  }

  code {
    font-family: inherit;
    font-weight: inherit;
  }

  #headway-widget-target .HW_badge_cont {
    position: absolute;
    right: -30px;
    top: 21px;
  }

  p + .copy-link-identifier:has(h2) {
    padding-top: 24px;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/jetbrains-mono/400/webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/jetbrains-mono/700/webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/jetbrains-mono/500/webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  /* LEGAL DISCLAIMER
    *
    * These Fonts are licensed only for use on these domains and their subdomains:
    * ably.com
    *
    * It is illegal to download or use them on other websites.
    *
    * While the @font-face statements below may be modified by the client, this
    * disclaimer may not be removed.
    *
    * Optimo webfonts are protected by copyright law and provided under license. To modify, alter, translate, convert, decode or reverse engineer in any manner whatsoever, including converting the Font Software into a different format is strictly prohibited. The webfont files are not to be used for anything other than web font use.
    *
    * optimo.ch
    */
}
