@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "@ably/ui/reset/styles.css"; /* needed as we disable the default Tailwind reset */
@import "@ably/ui/core/styles.css"; /* styles for core module components and more */
@import "@ably/ui/core/Meganav/component.css";
@import "@ably/ui/core/ContactFooter/component.css";
@import '@ably/ui/core/Footer/component.css';
@import '@ably/ui/core/FeaturedLink/component.css';
@import '@ably/ui/core/CookieMessage/component.css';
@import 'global-entries.css';

@layer base {
    body {
      font-family: NEXT Book,Arial,Helvetica,sans-serif;
      margin: 0;
      font-weight: 300;
      font-size: 17px;
      line-height: 28px;
      color: #161616;
      -webkit-font-smoothing: antialiased;
      min-width: 320px;
    }

    code {
      font-family: inherit;
      font-weight: inherit;
    }
  
    /* LEGAL DISCLAIMER
    *
    * These Fonts are licensed only for use on these domains and their subdomains:
    * ably.com
    *
    * It is illegal to download or use them on other websites.
    *
    * While the @font-face statements below may be modified by the client, this
    * disclaimer may not be removed.
    *
    * Optimo webfonts are protected by copyright law and provided under license. To modify, alter, translate, convert, decode or reverse engineer in any manner whatsoever, including converting the Font Software into a different format is strictly prohibited. The webfont files are not to be used for anything other than web font use.
    *
    * optimo.ch
    */
  
    @font-face {
      font-family: 'NEXT Book';
      src: url('~@ably/ui/core/fonts/NEXT-Book-Light.eot');
      src: url('~@ably/ui/core/fonts/NEXT-Book-Light.eot?iefix') format('embedded-opentype'),
        url('~@ably/ui/core/fonts/NEXT-Book-Light.woff2') format('woff2'),
        url('~@ably/ui/core/fonts/NEXT-Book-Light.woff') format('woff');
      font-weight: 300;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'NEXT Book';
      src: url('~@ably/ui/core/fonts/NEXT-Book-Light-Italic.eot');
      src: url('~@ably/ui/core/fonts/NEXT-Book-Light-Italic.eot?#iefix') format('embedded-opentype'),
        url('~@ably/ui/core/fonts/NEXT-Book-Light-Italic.woff2') format('woff2'),
        url('~@ably/ui/core/fonts/NEXT-Book-Light-Italic.woff') format('woff');
      font-weight: 300;
      font-style: italic;
    }
  
    @font-face {
      font-family: 'NEXT Book';
      src: url('~@ably/ui/core/fonts/NEXT-Book-Medium.eot');
      src: url('~@ably/ui/core/fonts/NEXT-Book-Medium.eot?#iefix') format('embedded-opentype'),
        url('~@ably/ui/core/fonts/NEXT-Book-Medium.woff2') format('woff2'),
        url('~@ably/ui/core/fonts/NEXT-Book-Medium.woff') format('woff');
      font-weight: 500;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'NEXT Book';
      src: url('~@ably/ui/core/fonts/NEXT-Book-Medium-Italic.eot');
      src: url('~@ably/ui/core/fonts/NEXT-Book-Medium-Italic.eot?#iefix') format('embedded-opentype'),
        url('~@ably/ui/core/fonts/NEXT-Book-Medium-Italic.woff2') format('woff2'),
        url('~@ably/ui/core/fonts/NEXT-Book-Medium-Italic.woff') format('woff');
      font-weight: 500;
      font-style: italic;
    }
}