body {
  cursor: none;
}

.cursor {
  position: absolute;
}

.cursorName {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #fff;
  white-space: nowrap;
}

.liveCursorsContainer {
  width: 100%;
  cursor: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f4f8fb;
  height: 100vh;
}