html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  cursor: none;
}

.cursor {
  position: absolute;
}

.cursor-name {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #fff;
  white-space: nowrap;
}

.live-cursors-container {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f8fb;
}
