html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Inter, ui-sans-serif, system-ui;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f4f8fb;
  height: 100vh;
}

.sheet {
  max-width: 360px;
  min-width: 290px;
  width: 50%;
  border-color: rgb(198 206 217);
  border-width: 0.25px;
  border-style: solid;
  border-collapse: separate;
  border-spacing: 0;
  background-color: rgb(248 250 252);
  font-size: 0.625rem;
  text-align: left;
}

.td {
  width: 10%;
  padding: 0.5rem;
  height: 2.5rem;
  text-align: center;
  border-color: rgb(198 206 217);
  border-width: 0.25px;
  border-style: solid;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: rgb(226 231 239 / 1);
}

.cell {
  width: 45%;
  padding: 0.5rem;
  height: 2.5rem;
  position: relative;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1rem;
  border-width: 0.25px;
  border-color: rgb(198 206 217 / 1);
}

.cell:hover {
  background-color: rgb(248 250 252);
}

.cell::after {
  content: attr(data-name-content);
  position: absolute;
  top: -25px;
  right: -2px;
  width: auto;
  height: 24px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  background-color: var(--info-bg-color);
  color: white;
}

.cell-self {
  border: 2px solid var(--member-color);
}

.cell-members {
  border: 2px solid var(--cell-member-color);
}

.rest {
  background-color: white;
}

.rest:hover {
  border-color: rgb(173, 182, 194);
}
