.rightSidebarWrapperDesktop {
  /* NOTE: we need these calculations otherwise aside is of full page height. */
  height: calc(100vh - 96px - var(--top-nav-height));
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stickySidebar {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rightSidebarWrapperDesktop::-webkit-scrollbar, .stickySidebar::-webkit-scrollbar {
  display: none;
}
