.stickySidebar {
  @apply transition-all sticky z-1 hidden md:block;
  /* NOTE: we need these calculations otherwise aside is of full page height. */
  height: calc(100vh - 96px - var(--top-nav-height));
  top: 9rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 200px;
}

.stickySidebar::-webkit-scrollbar {
  display: none;
}

.rightSidebarMobile {
  @apply sticky bg-white col-span-3 flex flex-row items-center top-0 z-1 w-full h-48 md:hidden;
}

.withLanguageNavBar {
  /* NOTE: when we have a language bar, the space on top should also be doubled. */
  top: calc(var(--top-nav-height) + 4rem);
}
