.stickySidebar {
  @apply transition-all sticky z-1 hidden md:block md:mr-20 w-full;
  /* NOTE: we need these calculations otherwise aside is of full page height. */
  height: calc(100vh - 96px - var(--top-nav-height));
  top: var(--top-nav-height);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stickySidebar::-webkit-scrollbar {
  display: none;
}

.rightSidebarMobile {
  @apply fixed bg-white col-span-3 flex flex-row items-center top-0 z-1 w-full h-38 md:hidden;
}

.withLanguageNavBar {
  /* NOTE: when we have a language bar, the space on top should also be doubled. */
  top: calc(var(--top-nav-height) * 2);
}
