input[type='text'].input-field {
  @apply border border-mid-grey bg-light-grey w-1/2 h-48 rounded;
  font-weight: 400;
  padding: 12px;
}
input[type='text'].input-field::placeholder {
  color: var(--color-dark-grey);
  font-weight: 200;
  font-size: 16px;
}
