# This is an example of how the nginx redirects should look like.
#
# When building the site, part of the output should be this file,
# populated with the data from the redirect metadata from the pages
#
# Nginx has a limit on how big the redirects-map.conf can be, which is controlled
# via map_hash_bucket_size variable. If you get the following error:
#
#   [emerg]: could not build the map_hash,
#
# you should increase the map_hash_bucket_size to account for the filesize. Say your
# nginx-redirects.conf is 30Kb, you set the map_hash_bucket_size variable in the http
# block of nginx.conf to 30720;

# Redirect from /old_page to /new_page
/old_page /new_page;
