.dropdownContainer {
  @apply flex justify-end md:hidden py-12 pl-16 pr-40;
  width: 11.25rem;
}

.horizontalNav {
  @apply flex md:overflow-x-auto pl-0 justify-end md:justify-start h-48 mr-48 my-0; 
  scrollbar-width: none;
}

.horizontalNav::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}