[--- Javascript ---]
var ably = new Ably.Realtime('{{API_KEY}}');

ably.connection.on('connected', function() {
  alert("That was simple, you're now connected to Ably in realtime");
});
[--- /Javascript ---]

[--- HTML ---]
<script type="text/javascript" src="//cdn.ably.io/lib/ably.min.js"></script>
<h1>Ably Quickstart Connect Example</h1>
[--- /HTML ---]

[--- CSS ---]
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  background: url('http://d6i46dwqrtafp.cloudfront.net/images/logo.png') no-repeat;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 0 0 120px;
  height: 42px;
}
[--- /CSS ---]
