[--- Javascript ---]
var app = new Ably.Realtime('<%=api_key%>'),
    output = $('#output');

app.connection.on('connected', function() {
  output.append($('<li>').text("That was simple, we're now connected to Ably in realtime"));
});

var channel = app.channels.get('quickstart');
channel.on('greeting', function(data) {
  output.append($('<li>').text("Received a message: " + data));
});

$('#publish').on('click', function() {
  channel.publish('greeting', $('#message').value());
});
[--- /Javascript ---]

[--- HTML ---]
<h1>Ably Quickstart example</h1>

<ul id="output"></ul>

<label for="message">Message:</label> <input id="message" type="text" value="Hello"><br>
<input type="submit" id="publish" value="Publish message">
[--- /HTML ---]

[--- CSS ---]
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  background-image: url('http://d6i46dwqrtafp.cloudfront.net/images/logo.png')
  font-size: 17px;
  font-weight: bold;
}
[--- /CSS ---]