<div id="sidebar">
  <a href="/" title="API Documentation Home"><img src="/assets/ably-logo.png" class="ably-logo" title="API Documentation Home"></a>
  <h2>Real-time</h2>
  <ul>
    <%= nav_items 'realtime' %>
  </ul>
  <h2>REST</h2>
  <ul>
    <%= nav_items 'rest' %>
  </ul>
  <h2>Other</h2>
  <ul>
    <%= nav_items 'other' %>
    <li><a href="https://ably.io">Visit Ably.io</a></li>
  </ul>
</div>