<%= render '/_head.*' %>

<div class="redoc">
    <header class="documentation">
        <a href="/" title="API Documentation Home"><img src="/images/ably-logo.png" class="ably-logo" title="API Documentation Home"></a>
      <% if @item[:title] %>
        <h1 id="title"><%= html_escape(@item[:title]) %></h1>
      <% else %>
        <h1 id="title">Missing <code>:title</code> metadata</h1>
      <% end %>
    </header>

    <article class="documentation">
      <%= yield %>
    </article>

    <div class="redoc-container">
      <% if @item[:spec_url] %>
        <redoc spec-url="<%= @item[:spec_url] %>"></redoc>
        <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>
      <% else %>
        <div class="error">
            Missing <code>:spec_url</code> metadata.
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
