.ui-checkbox-input:disabled + .ui-checkbox-styled {
  border-color: var(--color-neutral-800);
  background-color: var(--color-orange-600);
}

.ui-checkbox-input:disabled +  .ui-checkbox-styled-tick {
  color: var(--color-neutral-000);
}
