.button {
  @apply relative block z-10;
}

.tooltipClass,
.notificationClass {
  @apply absolute flex opacity-0 transition-all duration-200 justify-center items-center z-0;
  top: -30px;
  left: -110%;
  right: -110%;
}

.tooltipClass span,
.notificationClass span {
  @apply text-white font-light bg-proprietary-realtime-software rounded-md text-center inline-block;
  font-size: 14px;
  padding: 5px 8px;
}

/* NOTE: we're hiding tooltip if we clicked the button, so on :focus state */
.button:not(:focus):hover ~ .tooltipClass,
.button ~ .isVisible {
  @apply opacity-100;
  top: -35px;
  transform: translateY(-10px);
}
