.button {
  @apply relative;
}

.tooltipClass {
  @apply absolute hidden text-white font-light bg-proprietary-realtime-software rounded-md;
  font-size: 14px;
  top: -30px;
  left: -50%;
  padding: 5px 8px;
}

.button:hover .tooltipClass {
  @apply block;
}
