@-webkit-keyframes lower-dsx {
    0% {
        background-color: White;
    }
    22% {
        background-color: Red;
    }
    77% {
        background-color: Red;
    }
    100% {
        background-color: White;
    }
}
    
.lower-dsx {
    -webkit-animation-name: lower-dsx;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes higher-dsx {
    0% {
        background-color: White;
    }
    22% {
        background-color: Green;
    }
    77% {
        background-color: Green;
    }
    100% {
        background-color: White;
    }
}
    
.higher-dsx {
    -webkit-animation-name: higher-dsx;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

#flash-box {
    display: inline-block;
} 