.c-flashbox {
    display: inline-block;
    overflow: auto;
}

.c-flashbox__negative-flash {
    -webkit-animation-name: negative-flash;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.c-flashbox__neutral-flash {
    -webkit-animation-name: neutral-flash;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.c-flashbox__positive-flash {
    -webkit-animation-name: positive-flash;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes negative-flash {
    0% {
        background-color: White;
    }
    22% {
        background-color: Red;
    }
    77% {
        background-color: Red;
    }
    100% {
        background-color: White;
    }
}

@-webkit-keyframes neutral-flash {
    0% {
        background-color: White;
    }
    22% {
        background-color: Orange;
    }
    77% {
        background-color: Orange;
    }
    100% {
        background-color: White;
    }
}

@-webkit-keyframes positive-flash {
    0% {
        background-color: White;
    }
    22% {
        background-color: Green;
    }
    77% {
        background-color: Green;
    }
    100% {
        background-color: White;
    }
}

