body {
  margin: 0;
  padding: 25px 0 0;
  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

pre {
  font-family: monospace, serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#documentation {
  position: absolute;

  top: 50px;
  left: 280px;

  width: 650px;

  &.with-langauage-selector {
    top: 75px;
  }
}

hr.back {
  clear: both;
  margin: 25px 0 10px 0;
  border-top: 1px solid lighten(#f30, 30%);
  border-bottom: none;
  + a {
    margin-bottom: 15px;
    display: block;
  }
}

/* Github fork banner fixed top right */
.fork-banner {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;

  img {
    border: 0;
  }
}

/* Notice for people who arrive here and don't realise this is not the canonical source of documentation */
.canonical-notice {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;

  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffa54c;
  text-align: center;
  height: 25px;

  .canonical-notice-text {
    position: relative;
    top: -5px;

    a {
      color: #fffccc;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  img {
    margin-top: 4px;
    height: 18px;
    width: 18px;
    position: relative;
    padding: 0;
    border: 0;
  }
}

/* Model for people who arrive here for the first time and don't realise this is not the canonical source of documentation */
.canonical-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  display: none;

  background-color: rgba(0, 0, 0, 0.7);

  .box-centered {
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3em;

    .continue {
      font-size: 0.75em;
      a {
        color: #b30;
      }
    }
  }
}
