/* styles for live demo container */

.live-demo-container {
  background: #efefef;
  padding: 2rem;
  margin: 0 0 2rem 0;

  input {
    border: 1px solid;
    padding: 0.7rem 1rem;
    margin-bottom: 0.15rem;
    display: block;
    width: 50%;
    border-radius: 3px;
  }

  button {
    border: 1px solid;
    padding: 1rem 1rem;
    background: black;
    color: white;
    padding: 10px 30px;
    display: block;
    border-radius: 5px;
    margin: 0.5rem 0 2rem 0;
    font-weight: 700;
  }

  button:hover {
    background: #ff5416;
  }

  textarea {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: monospace;
    background-color: #232323;
    color: #00ff33;
    line-height: 1.5;
    display: block;
    border: none;
  }

  label {
    color: black;
    display: block;
    margin: 0.5rem 0;
    font-weight: 700;
  }
}

.live-demo-response {
  padding: 1rem;
  margin: 0;
  background-color: #232323;
  border-radius: 3px;
}
