/* Minimizable styling */
input[type='checkbox'] {
  display: none;
}

.label-collapsible {
  text-align: left;
  color: #3366BB;
  cursor: pointer;
}

.label-collapsible-close {
  text-align: left;
  color: #3366BB;
  cursor: pointer;
}

.label-collapsible:hover {
  color: #7C5A0B;
}

.collapsible-content {
  overflow: hidden;
  background: rgba(200, 200, 200, .2);
  border-bottom: 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  transition: all 0.2s ease-in-out;
  transform-origin:top;
  transform:scaleY(0);
  max-height: 0px;
}

.toggle:checked + .label-collapsible + .collapsible-content {
  transform:scaleY(1);
  max-height: none;
}

.toggle:checked + .label-collapsible {
  display: none;
}