.redoc {
    article, header {
        padding: 0 1em;
    }

    header {
        display: flex;
        height: 64px; // logo height

        a, h1 {
            flex: none;
            line-height: 64px;
        }

        h1 {
            font-weight: bold;
            padding: 0 0 0 1em;
            margin: 0;
        }
    }
}

.redoc-container {
    .error {
        $color: #C33;
        border: 1px solid $color;
        color: $color;
        background-color: lighten($color, 33%);
        padding: 2em;
        font-family: "American Typewriter", "Trebuchet MS", sans;
    }
}
