@layer components {
  .ui-shadow-xs-soft {
    box-shadow:
      0px 13.699px 3.805px 0px rgba(3, 2, 13, 0),
      0px 9.133px 3.805px 0px rgba(3, 2, 13, 0.01),
      0px 5.327px 3.044px 0px rgba(3, 2, 13, 0.03),
      0px 2.283px 2.283px 0px rgba(3, 2, 13, 0.05),
      0px 0.761px 1.522px 0px rgba(3, 2, 13, 0.06);
  }

  .ui-shadow-sm-soft {
    box-shadow:
      0px 32.725px 9.133px 0px rgba(3, 2, 13, 0),
      0px 21.309px 8.371px 0px rgba(3, 2, 13, 0.01),
      0px 12.177px 6.849px 0px rgba(3, 2, 13, 0.03),
      0px 5.327px 5.327px 0px rgba(3, 2, 13, 0.05),
      0px 1.522px 3.044px 0px rgba(3, 2, 13, 0.06);
  }

  .ui-shadow-md-soft {
    box-shadow:
      0px 105.024px 29.681px 0px rgba(3, 2, 13, 0),
      0px 66.972px 26.637px 0px rgba(3, 2, 13, 0.01),
      0px 38.052px 22.831px 0px rgba(3, 2, 13, 0.02),
      0px 16.743px 16.743px 0px rgba(3, 2, 13, 0.03),
      0px 4.566px 9.133px 0px rgba(3, 2, 13, 0.04);
  }

  .ui-shadow-lg-soft {
    box-shadow:
      0px 200.915px 56.317px 0px rgba(20, 25, 36, 0),
      0px 128.616px 51.751px 0px rgba(20, 25, 36, 0.01),
      0px 72.299px 43.379px 0px rgba(20, 25, 36, 0.02),
      0px 31.964px 31.964px 0px rgba(20, 25, 36, 0.03),
      0px 8.371px 17.504px 0px rgba(20, 25, 36, 0.04);
  }

  .ui-shadow-xl-soft {
    box-shadow:
      0px 210.048px 58.6px 0px rgba(20, 25, 36, 0),
      0px 134.705px 54.034px 0px rgba(20, 25, 36, 0.01),
      0px 75.343px 45.663px 0px rgba(20, 25, 36, 0.03),
      0px 33.486px 33.486px 0px rgba(20, 25, 36, 0.04),
      0px 8.371px 18.265px 0px rgba(20, 25, 36, 0.05);
  }

  .ui-shadow-xs-medium {
    box-shadow:
      0px 14px 4px 0px rgba(3, 2, 13, 0),
      0px 9px 4px 0px rgba(3, 2, 13, 0.02),
      0px 5px 3px 0px rgba(3, 2, 13, 0.08),
      0px 2px 2px 0px rgba(3, 2, 13, 0.14),
      0px 1px 1px 0px rgba(3, 2, 13, 0.16);
  }

  .ui-shadow-sm-medium {
    box-shadow:
      0px 33px 9px 0px rgba(3, 2, 13, 0),
      0px 21px 8px 0px rgba(3, 2, 13, 0.02),
      0px 12px 7px 0px rgba(3, 2, 13, 0.08),
      0px 5px 5px 0px rgba(3, 2, 13, 0.14),
      0px 1px 3px 0px rgba(3, 2, 13, 0.16);
  }

  .ui-shadow-md-medium {
    box-shadow:
      0px 105px 29px 0px rgba(3, 2, 13, 0),
      0px 67px 27px 0px rgba(3, 2, 13, 0.02),
      0px 38px 23px 0px rgba(3, 2, 13, 0.06),
      0px 17px 17px 0px rgba(3, 2, 13, 0.1),
      0px 4px 9px 0px rgba(3, 2, 13, 0.12);
  }

  .ui-shadow-lg-medium {
    box-shadow:
      0px 201px 56px 0px rgba(20, 25, 36, 0),
      0px 129px 51px 0px rgba(20, 25, 36, 0.02),
      0px 72px 43px 0px rgba(20, 25, 36, 0.06),
      0px 32px 32px 0px rgba(20, 25, 36, 0.1),
      0px 8px 18px 0px rgba(20, 25, 36, 0.12);
  }

  .ui-shadow-xl-medium {
    box-shadow:
      0px 210px 59px 0px rgba(20, 25, 36, 0),
      0px 134px 54px 0px rgba(20, 25, 36, 0.02),
      0px 76px 45px 0px rgba(20, 25, 36, 0.08),
      0px 34px 34px 0px rgba(20, 25, 36, 0.13),
      0px 8px 18px 0px rgba(20, 25, 36, 0.15);
  }

  .ui-shadow-xs-strong {
    box-shadow:
      0px 14px 4px 0px rgba(3, 2, 13, 0.01),
      0px 9px 4px 0px rgba(3, 2, 13, 0.09),
      0px 5px 3px 0px rgba(3, 2, 13, 0.3),
      0px 2px 2px 0px rgba(3, 2, 13, 0.51),
      0px 1px 1px 0px rgba(3, 2, 13, 0.59);
  }

  .ui-shadow-sm-strong {
    box-shadow:
      0px 49px 14px 0px rgba(3, 2, 13, 0.01),
      0px 32px 13px 0px rgba(3, 2, 13, 0.09),
      0px 18px 11px 0px rgba(3, 2, 13, 0.3),
      0px 8px 8px 0px rgba(3, 2, 13, 0.51),
      0px 2px 4px 0px rgba(3, 2, 13, 0.59);
  }

  .ui-shadow-md-strong {
    box-shadow:
      0px 105px 29px 0px rgba(3, 2, 13, 0.01),
      0px 67px 27px 0px rgba(3, 2, 13, 0.09),
      0px 38px 23px 0px rgba(3, 2, 13, 0.3),
      0px 17px 17px 0px rgba(3, 2, 13, 0.51),
      0px 4px 9px 0px rgba(3, 2, 13, 0.59);
  }

  .ui-shadow-lg-strong {
    box-shadow:
      0px 201px 56px 0px rgba(0, 0, 0, 0.01),
      0px 129px 51px 0px rgba(0, 0, 0, 0.08),
      0px 72px 43px 0px rgba(0, 0, 0, 0.28),
      0px 32px 32px 0px rgba(0, 0, 0, 0.47),
      0px 8px 18px 0px rgba(0, 0, 0, 0.54);
  }

  .ui-shadow-xl-strong {
    box-shadow:
      0px 210px 59px 0px rgba(0, 0, 0, 0.01),
      0px 134px 54px 0px rgba(0, 0, 0, 0.09),
      0px 76px 45px 0px rgba(0, 0, 0, 0.3),
      0px 34px 34px 0px rgba(0, 0, 0, 0.51),
      0px 8px 18px 0px rgba(0, 0, 0, 0.59);
  }
}
