.container {
  @apply rounded-lg bg-white px-16 absolute left-0 overflow-y-auto border border-mid-grey shadow-container-subtle grid grid-cols-10 gap-16 max-w-full md:max-w-screen-lg z-20;
  width: 800px;
  top: 60px;
  max-height: 578px;
}

.snapshot {
  @apply sticky top-16 left-0 right-0;
  height: 34.125rem;
}
