.container {
  @apply rounded-lg bg-white p-16 absolute left-0 overflow-y-auto border-mid-grey shadow-container-subtle grid grid-cols-10 gap-16;
  width: 800px;
  top: 55px;
  max-height: 578px;
}

.container em {
  @applt font-semibold;
}
