.container {
  @apply rounded-lg bg-white absolute left-0 overflow-y-auto border border-mid-grey shadow-container-subtle p-16 max-w-full md:max-w-screen-lg z-20 overflow-x-hidden;
  width: 800px;
  top: 60px;
  max-height: 578px;
}

.hitItem:hover .titleStyle,
.hitItem:focus .titleStyle {
  @apply text-gui-active;
}
