# Astro
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Environment
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
